<section class="flex-center w-screen py-40">
  <div class="section flex-center space-y-20 flex-col">
    <h2 class="text-4xl font-timesten font-bold">Vamos a construir algo grande</h2>
    <div class="glass-card w-[80dvw] min-w-3/6 max-w-150 rounded-xl p-6 flex items-start flex-col justify-start">
      <div class="w-full space-y-3">
        <h3 class="font-mono text-sm text-secondary uppercase">Escribe tu idea</h3>
        <textarea name="" id="" placeholder="Hola Ángel, me gustaría hablar sobre..." rows="3" class="w-full border-white/10 border rounded-xl font-timesten p-2 scrollbar-gutter-stable"></textarea>
      </div>
      <div class="flex flex-1 items-end justify-end w-full mt-10">
        <a href="#" class="border border-white/10 font-timesten px-8 py-4 text-secondary rounded-lg bg-neutral-800/60 hover:shadow-lg/60 transition-all shadow-white/10">Enviar</a>
      </div>
    </div>
  </div>
</section>