---
import Github from "./ui/Github.astro"
import Linkedin from './ui/Linkedin.astro'
import Instagram from './ui/Instagram.astro'
---

<footer class="flex-center w-screen pt-40 flex-col">
  <div class="h-px section bg-neutral-800 rounded-full w-full"></div>
  <div class="section flex flex-col md:flex-row gap-6 md:gap-0 items-center justify-between py-20">
    <small class="text-lg font-timesten text-primary/60">&copy; { new Date().getFullYear() } Hecho por SaskDev.</small>
    <div class="flex items-center *:px-2">
      <a href="https://github.com/angbmz364/" target="_blank" class="w-9"><Github /></a>
      <a href="https://linkedin.com/in/angel-david-bernal-mendez-0697ab3aa" target="_blank" class="w-9"><Linkedin /></a>
      <a href="https://www.instagram.com/angbmz364/" target="_blank" class="w-9"><Instagram /></a>
      <p class="text-[16px] uppercase font-timesten text-primary/60">/angbmz364</p>
    </div>
  </div>
</footer>