---


---

<nav class="w-screen flex-center fixed top-0 py-8 font-mono z-50">
  <div class="section bg-surface/70 backdrop-blur-xl rounded-full bg-neutral-900/60 mt-6 fixed top-0 border border-white/10 shadow-[0_20px_40px_rgba(0,0,0,0.4)] flex items-center justify-between mx-auto px-8 py-3">
    <p class="text-xl font-bold text-headline-md tracking-tighter text-on-surface uppercase">@sask.dev</p>
    <ul class="hidden md:flex items-center justify-center [&>li>a]:px-4 md:[&>li>a]:px-10 [&>li>a]:hover:text-primary [&>li>a]:transition-colors [&>li>a]:hover:underline [&>li>a]:duration-100 font-thin text-secondary text-sm">
      <li><a href="#">Sobre Mi</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    <a href="#" class="bg-[#1C1B1B] text-sm border-neutral-800 border px-4 py-2 rounded-full text-secondary">
      Contratame
    </a>
  </div>
</nav>