---


---

<nav class="w-screen flex-center fixed top-0 py-8">
  <div class="section flex justify-between items-center border-neutral-800 border shadow-xl bg-sec-bg px-10 py-3 rounded-full">
    <p class="uppercase font-mono text-xl font-normal text-secondary tracking-wider">@sask.dev</p>
    <ul class="flex items-center justify-center [&>li>a]:px-4 md:[&>li>a]:px-10 [&>li>a]:hover:text-primary [&>li>a]:transition-colors [&>li>a]:duration-100 font-thin text-secondary">
      <li><a href="#">Sobre Mi</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    <a href="#" class="bg-[#1C1B1B] border-neutral-800 border px-4 py-2 rounded-full text-secondary">
      Contratame
    </a>
  </div>
</nav>