---


---

<nav class="w-screen flex-center">
  <ul class="section flex items-center justify-center [&>li>a]:px-4 md:[&>li>a]:px-10 [&>li>a]:hover:text-primary [&>li>a]:transition-colors [&>li>a]:duration-100 py-5 font-thin text-secondary">
    <li><a href="#">Sobre Mi</a></li>
    <li><a href="#">Proyectos</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</nav>