---
import '../styles/global.css';

const { 
	description = "Portafolio personal de SaskDev, programador web Frontend con 5 años de experiencia, experto en interfaces limpias y modernas.", 
	title = "SaskDev - Desarrollador Web Frontend"
} = Astro.props;
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logo-black.svg" />
		<meta name="author" content="SaskDev">
		<meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body class="bg-bg text-primary">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
