---
const {title, p} = Astro.props; 
---

<div class="p-4 md:p-6 space-y-4 rounded-lg glass-card">
  <h3 class="text-4xl md:text-6xl font-timesten font-bold">{title}</h3>
  <p class="uppercase font-timesten text-secondary text-xs">{p}</p>
</div>